@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
    min-height: 100vh;
    display:flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
    
    width: 100%;
    background: grey;
}

h1{
    margin-bottom: 2rem;
    margin-top: 2rem;
}


.box{
    text-transform: uppercase;
    background-color: steelblue;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 400px;
    height: 200px;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 2px 4px 5px rgb(0 0 0 / 30%);
    transform: translateX(400%);
    transition: transform 0.4s ease;
    border-top: 5px solid green;
    position: relative;
}

.box:nth-of-type(even){
    transform: translateX(-400%);
}

.box.show{
    transform: translateX(0);
}
.box > p{
    position: absolute;
    bottom: 2px;
    right: 50%;
    transform: translateX(50%);
    font-size: 12px;
    width: 100%;
    text-align: center;
}

.box h2{
    font-size: 30px;
}

.box h2 a{
    text-decoration: none;
    color: inherit;
    transition: .4s ease;
}

.limitLine{
    position: fixed;
    height: 2px;
    width: 100%;
    background-color: red;
    top: calc(100dvh * 0.8);
    /* z-index: -1; */
}

.backgroundLimit{
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: calc(100dvh * 0.8);
    background-color: rgb(72, 61, 139, 60%);
    z-index: -10;
}
.backgroundLimit::after{
    content: '';
    width: 100%;
    position: fixed;
    top: 0;
    border-top: 5px solid rgb(0, 35, 189);
    z-index: 12;
}

.info{
    text-align: center;
}

.info > span, .redLine, .blueLine, .greenBorder{
    color: firebrick;
    text-transform: uppercase;
    background-color: rgba(0,0,0,0.3);
}

p{
    max-width: 80%;
    font-size: 1.2rem;
    line-height: 2rem;
}

.blueLine{
    color: blue;
}

.greenBorder{
    color: green;
}


.notion:hover{
    color: greenyellow;
    font-size: 31px;
}

.github:hover{
    color: black;
    font-size: 31px;
}

.infoGrid{
    display: grid;
    gap: 10px;
    place-items: center;
}